.colo {
  background-color: rgba(0, 0, 255, 0.726);
  width: 100%;
  height: 430px;
  display: block;
  margin-right: 0px;
  padding: 0px;
  float: left;
}

.alink {
  color: white;
  text-decoration: none;
}
.alink:hover {
  color: black;
  border-bottom: 2px solid black;
  border-top: 2px;
}

#pic {
  float: left;
  width: 100%;
  height: 430px;
  display: block;
}
.box {
  width: 750px;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: 180px;
  margin-bottom: 165px;
  margin-left: 260px;
  float: left;
  /* text-align: center; */
  justify-content: center;
  border: 2px solid grey;
}
.ptext {
  padding-top: 10px;
}
.box1 {
  width: 350px;
  height: 400px;
  background-color: rgba(202, 225, 243, 0.836);
  position: absolute;
  margin-left: 520px;
  border: 2px solid grey;
}
.text1 {
  color: black;
}
.colo {
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
}
.marginbox {
  margin: auto;
  /* text-align: center; */
}
.mainboxsize {
  width: 80%;
  /* align-items: center; */
}
.sidecolor {
  color: hotpink;
}

.navbar {
  /* position: fixed; */
  background-color: rgba(12, 10, 10, 0.788);
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  padding: 7px 50px;
  width: 75vw;
  /* height: 60px; */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.nav-items {
  padding: 4px 25px;
  list-style: none;
  color: white;
  transition: ease-in-out 0.5s;
  margin: 5px 0px;
  border-radius: 8px;
  font-weight: 500;
  font-family: bold;
}

.navbar li:hover {
  background-color: rgb(233, 227, 229);
  color: rgb(2, 2, 19);
}

#h2top {
  position: absolute;
  top: 10%;
}

/* icons */

.footer-basic {
  padding: 40px 0;
  background-color: rgb(46, 45, 45);
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  color: white;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer-basic li:hover {
  background-color: rgb(233, 227, 229);
  border-radius: 3px;
  color: #000000;
}
#newhr {
  background-color: rgb(233, 227, 229);
  /* width: 10px; */
}

/* icons */

.fa {
  /* padding: 24px; */
  padding: 25px 37px;
  font-size: 18px;
  width: 30px;
  /* height: 10px; */
  text-align: center;
  text-decoration: none;
  /* border-radius: 50%; */
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook {
  padding: 18px 25px;
  background: #3b5998;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.fa-google {
  padding: 18px 21px;
  background: #dd4b39;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.fa-linkedin {
  padding: 18px 23px;
  background: #007bb5;
  color: white;
  border-radius: 50%;
}
.fa-yahoo {
  margin-left: 4px;
  padding: 18px 23px;
  background: #430297;
  color: white;
  border-radius: 50%;
}
